{
  "Resources" : {
    "DynamoDB" : {
      "Type" : "AWS::DynamoDB::Table",
      "Properties" : {
        "AttributeDefinitions" : [
          {
            "AttributeName" : "unique_name",
            "AttributeType" : "S"
          }
        ],
        "KeySchema" : [
          {
            "AttributeName" : "unique_name",
            "KeyType" : "HASH"
          }
        ],
        "ProvisionedThroughput" : {
          "ReadCapacityUnits" : "20",
          "WriteCapacityUnits" : "20"
        },
        "TableName" : "ImageMetadata",
      }
    }
  }
}